<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  <title><%= title %></title>
</head>
<body>
  <nav class="navbar navbar-dark">
    <img class="login" src="https://i.imgur.com/eYhbeb7.png">
        <a href="/movies" <%- title === 'All Movies' ? 'class="active"' : '' %>>DASHBOARD</a>
        <% if (user) { %>
          <a href="/performers/new"	<%- title === 'Add Performer' ? 'class="active"' : '' %>>
              ADD EXERCISE</a>
          <a href="/movies/new" <%- title === 'Add Movie' ? 'class="active"' : '' %>>ADD NUTRITION</a>
          <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/eYhbeb7.png"></a>
        <% } %>
  </nav>