<%- include('./partials/header') %>
<main id="mainphoto" class="overlay">
 <div id="landpage">
    <h2>Welcome to <%= title %></h2>
    <a href="/auth/google" class="login navcolor landpage">LOG IN&nbsp;<img src="https://i.imgur.com/eYhbeb7.png"></a>
 </div>
<%- include('./partials/footer') %>  