body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
}
#mainphoto{
  background: url("https://i.imgur.com/XHe3gBp.jpg") no-repeat center center fixed;
  background-size: cover;
}
a {
  color: white;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
#landpage{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}
.navcolor{
  color:greenyellow;
}
nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}