body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: white;
}
/* #mainphoto{
  background: url("https://i.imgur.com/XHe3gBp.jpg") no-repeat center center fixed;
} */
a {
  color: white;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
#landpage{
  display: inline-block;
  justify-content: right;
  align-items: right;
  color:white;
  margin-left: 350px;
  margin-top: 275px;
  
}
.navcolor{
  color:greenyellow;
}
nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}
.overlay{
  opacity:0.8;
  background: url("https://i.imgur.com/XHe3gBp.jpg") no-repeat center center fixed;
  background-size: cover;
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
}