body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("https://i.imgur.com/XHe3gBp.jpg");
  background-size: cover;
  color: white;
}

a {
  color: white;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
#landpage{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}