<%- include('./partials/header') %>
<table>
    <thead>
        <tr>
            <th>Exercise Name</th>
            <th>Exercise Date</th>
            <th>Exercise Repetitions </th>
        </tr>
    </thead>
    <tbody>
        <!-- place index information here -->
    </tbody>
</table>
<%- include('./partials/footer') %>