<%- include('../partials/header') %>
<form action="/exercises" method="POST" id="new-form">
    <label>Exercise Name</label>
    <input type="text" name="name">
    <label>Date</label>
    <input type="datetime-local" name="date">
    <label>Reps</label>
    <input type="number" name="reps">
    <label>Rate of Perceived Exertion</label>
    <input type="number" name="rpe">
    <label>Resistance</label>
    <input type="number" name="resistance">
    <!-- Add food input form here -->
    <br>
    <input type="submit" value="Add New Workout">
</form>
<%- include('../partials/footer') %>